div(style="text-align: center;")
  a(href="/auth/google", style="background:url('/images/SocialMediaIcons.png') -115px -160px; width: 111px; height: 111px; margin-right: 50px; display: inline-block;")
  a(href="/auth/twitter", style="background:url('/images/SocialMediaIcons.png') -245px -25px; width: 112px; height: 112px; margin-right: 50px; display: inline-block;")
  a(href="/auth/facebook", style="background:url('/images/SocialMediaIcons.png') -112px -25px; width: 111px; height: 112px; margin-right: 50px; display: inline-block;")