doctype 5
html
  head
    title= title
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='/scripts/preloadImages.js')
    script(type='text/javascript', src='/scripts/ajaxNavigation.js')
    script(type='text/javascript', src='/scripts/animateColor.js')
    script(type='text/javascript', src='/scripts/initialize.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    img.backgroundImage(src="../images/codetunnel.jpg")
    #frame
      include container
        #banner
          a.hijax(href="/")= bannerText
        ul#navigation
          li
            a.hijax(href="/") Blog
          //li
            a(href="/projects") Projects
          li
            a.hijax(href="/about") About
          li.right
            if (!user)
              a.hijax(href="/login") Login
            else
              span Welcome, #{user.firstName}! (<a href="/logout">logout</a>)
        #content
          block content
        #footer