doctype 5
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    img.backgroundImage(src="../images/GreenTunnel.jpg")
    #frame
      include container
        #banner= bannerText
        #navigation
          ul
            li Blog
            li Projects
            li About
        #content
          block content
        #footer