doctype 5
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    img.backgroundImage(src="../images/GreenTunnel.jpg")
    #frame
      include container
        #banner= bannerText
        ul#navigation
          li
            a(href="/") Blog
          li
            a(href="/projects") Projects
          li
            a(href="/about") About
        #content
          block content
        #footer