style(type="text/css")
  .auth { width: 112px; height: 112px; margin: 50px; display: inline-block; }

div(style="text-align: center;")
  a#googleAuth.auth(href="/auth/google", style="background:url('/images/SocialMediaIcons.png') -115px -160px;")
  a#twitterAuth.auth(href="/auth/twitter", style="background:url('/images/SocialMediaIcons.png') -245px -25px;")
  a#facebookAuth.auth(href="/auth/facebook", style="background:url('/images/SocialMediaIcons.png') -112px -25px;")