.container {
  position: relative;
}
.translucentFrame {
  background: #9fdf9f;
  opacity: 0.35;
  -moz-opacity: 0.35;
  filter: alpha(opacity=35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background-color 15s linear;
  -moz-transition: background-color 15s linear;
  -o-transition: background-color 15s linear;
  transition: background-color 15s linear;
}
.contentFrame {
  position: relative;
  z-index: 2;
  overflow-x: auto;
}
.contentFrame img {
  max-width: 100%;
  display: block;
}
body {
  background: #000;
  color: #e7f7e7;
  font-size: 15px;
  font-family: Consolas;
  -webkit-transition: color 15s linear, background-color 15s linear;
  -moz-transition: color 15s linear, background-color 15s linear;
  -o-transition: color 15s linear, background-color 15s linear;
  transition: color 15s linear, background-color 15s linear;
}
#frame {
  position: relative;
  margin: 15px auto auto auto;
  max-width: 900px;
}
.backgroundImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  opacity: 0.075;
  -moz-opacity: 0.075;
  filter: alpha(opacity=8);
}
.profilePictureRight {
  width: 50px;
  margin-left: 10px;
  float: right;
}
.profilePictureLeft {
  width: 50px;
  margin-right: 10px;
  float: left;
}
#banner {
  text-align: center;
  font-size: 55px;
  padding: 15px;
  font-family: Courier New;
  border-bottom: solid 1px #0a1d0a;
  -webkit-transition: border-color 15s linear;
  -moz-transition: border-color 15s linear;
  -o-transition: border-color 15s linear;
  transition: border-color 15s linear;
}
#navigation {
  margin: 0;
  padding: 15px;
}
#navigation li {
  display: inline;
}
#navigation li.nav {
  margin-right: 35px;
}
#content {
  clear: both;
  padding: 15px;
  overflow-x: auto;
}
pre {
  padding: 15px;
  background: #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  max-height: 500px;
  overflow: auto;
}
pre code {
  padding: 0;
  border-radius: 0;
  -moz-border-radius: 0;
}
code {
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
input,
textarea {
  background: transparent;
  border: dashed 1px #b7e7b7;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  color: #d4f1d4;
  -webkit-transition: color 15s linear;
  -moz-transition: color 15s linear;
  -o-transition: color 15s linear;
  transition: color 15s linear;
}
hr {
  border: solid 1px #0a1d0a;
}
a {
  color: #aee4ae;
  text-decoration: none;
  -webkit-transition: color 15s linear;
  -moz-transition: color 15s linear;
  -o-transition: color 15s linear;
  transition: color 15s linear;
}
a:visited {
  color: #74d174;
}
a:hover {
  text-decoration: underline;
}
.postTitle {
  font-size: 20px;
}
.postDate,
.commentDate {
  font-style: italic;
  font-size: 13px;
}
.managePost {
  font-size: 13px;
}
.comment {
  padding: 15px;
}
.commentContainer {
  margin: 12.5px 0 12.5px;
}
.commentContent {
  padding-top: 5px;
  clear: both;
}
.postSummaryContent {
  padding: 15px;
}
.postSummary {
  margin-bottom: 15px;
}
.pageControls {
  clear: both;
  margin-bottom: 15px;
}
.pageControls .pageLink {
  margin-right: 10px;
}
.right {
  float: right;
  text-align: right;
}
.left {
  float: left;
  text-align: left;
}
.button {
  padding: 3px 5px 3px 5px;
  color: #184818 !important;
  background-color: #b7e7b7;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: background-color 15s linear;
  -moz-transition: background-color 15s linear;
  -o-transition: background-color 15s linear;
  transition: background-color 15s linear;
  cursor: pointer;
}
.button:hover {
  background-color: #308f30;
  color: #f1faf1 !important;
  text-decoration: none;
}
.preview {
  padding: 10px;
}
.auth {
  margin: 15px;
  display: inline-block;
}
.bodyColor0 {
  color: #f7e7e7 !important;
}
.borderColor0 {
  border-color: #1d0a0a !important;
}
a.linkColor0 {
  color: #e4aeae;
}
a.linkColor0:visited {
  color: #d17474;
}
.containerColor0 {
  background-color: #df9f9f !important;
}
.buttonColor0 {
  color: #481818 !important;
  background-color: #e7b7b7;
}
.buttonColor0:hover {
  background-color: #8f3030;
  color: #faf1f1 !important;
}
.inputColor0 {
  border-color: #e7b7b7 !important;
  color: #f1d4d4;
}
.bodyColor1 {
  color: #f7efe7 !important;
}
.borderColor1 {
  border-color: #1d130a !important;
}
a.linkColor1 {
  color: #e4c9ae;
}
a.linkColor1:visited {
  color: #d1a374;
}
.containerColor1 {
  background-color: #dfbf9f !important;
}
.buttonColor1 {
  color: #483018 !important;
  background-color: #e7cfb7;
}
.buttonColor1:hover {
  background-color: #8f6030;
  color: #faf5f1 !important;
}
.inputColor1 {
  border-color: #e7cfb7 !important;
  color: #f1e2d4;
}
.bodyColor2 {
  color: #f7f7e7 !important;
}
.borderColor2 {
  border-color: #1d1d0a !important;
}
a.linkColor2 {
  color: #e4e4ae;
}
a.linkColor2:visited {
  color: #d1d174;
}
.containerColor2 {
  background-color: #dfdf9f !important;
}
.buttonColor2 {
  color: #484818 !important;
  background-color: #e7e7b7;
}
.buttonColor2:hover {
  background-color: #8f8f30;
  color: #fafaf1 !important;
}
.inputColor2 {
  border-color: #e7e7b7 !important;
  color: #f1f1d4;
}
.bodyColor3 {
  color: #eff7e7 !important;
}
.borderColor3 {
  border-color: #131d0a !important;
}
a.linkColor3 {
  color: #c9e4ae;
}
a.linkColor3:visited {
  color: #a3d174;
}
.containerColor3 {
  background-color: #bfdf9f !important;
}
.buttonColor3 {
  color: #304818 !important;
  background-color: #cfe7b7;
}
.buttonColor3:hover {
  background-color: #608f30;
  color: #f5faf1 !important;
}
.inputColor3 {
  border-color: #cfe7b7 !important;
  color: #e2f1d4;
}
.bodyColor4 {
  color: #e7f7e7 !important;
}
.borderColor4 {
  border-color: #0a1d0a !important;
}
a.linkColor4 {
  color: #aee4ae;
}
a.linkColor4:visited {
  color: #74d174;
}
.containerColor4 {
  background-color: #9fdf9f !important;
}
.buttonColor4 {
  color: #184818 !important;
  background-color: #b7e7b7;
}
.buttonColor4:hover {
  background-color: #308f30;
  color: #f1faf1 !important;
}
.inputColor4 {
  border-color: #b7e7b7 !important;
  color: #d4f1d4;
}
.bodyColor5 {
  color: #e7f7ef !important;
}
.borderColor5 {
  border-color: #0a1d13 !important;
}
a.linkColor5 {
  color: #aee4c9;
}
a.linkColor5:visited {
  color: #74d1a3;
}
.containerColor5 {
  background-color: #9fdfbf !important;
}
.buttonColor5 {
  color: #184830 !important;
  background-color: #b7e7cf;
}
.buttonColor5:hover {
  background-color: #308f60;
  color: #f1faf5 !important;
}
.inputColor5 {
  border-color: #b7e7cf !important;
  color: #d4f1e2;
}
.bodyColor6 {
  color: #e7f7f7 !important;
}
.borderColor6 {
  border-color: #0a1d1d !important;
}
a.linkColor6 {
  color: #aee4e4;
}
a.linkColor6:visited {
  color: #74d1d1;
}
.containerColor6 {
  background-color: #9fdfdf !important;
}
.buttonColor6 {
  color: #184848 !important;
  background-color: #b7e7e7;
}
.buttonColor6:hover {
  background-color: #308f8f;
  color: #f1fafa !important;
}
.inputColor6 {
  border-color: #b7e7e7 !important;
  color: #d4f1f1;
}
.bodyColor7 {
  color: #e7eff7 !important;
}
.borderColor7 {
  border-color: #0a131d !important;
}
a.linkColor7 {
  color: #aec9e4;
}
a.linkColor7:visited {
  color: #74a3d1;
}
.containerColor7 {
  background-color: #9fbfdf !important;
}
.buttonColor7 {
  color: #183048 !important;
  background-color: #b7cfe7;
}
.buttonColor7:hover {
  background-color: #30608f;
  color: #f1f5fa !important;
}
.inputColor7 {
  border-color: #b7cfe7 !important;
  color: #d4e2f1;
}
.bodyColor8 {
  color: #e7e7f7 !important;
}
.borderColor8 {
  border-color: #0a0a1d !important;
}
a.linkColor8 {
  color: #aeaee4;
}
a.linkColor8:visited {
  color: #7474d1;
}
.containerColor8 {
  background-color: #9f9fdf !important;
}
.buttonColor8 {
  color: #181848 !important;
  background-color: #b7b7e7;
}
.buttonColor8:hover {
  background-color: #30308f;
  color: #f1f1fa !important;
}
.inputColor8 {
  border-color: #b7b7e7 !important;
  color: #d4d4f1;
}
.bodyColor9 {
  color: #efe7f7 !important;
}
.borderColor9 {
  border-color: #130a1d !important;
}
a.linkColor9 {
  color: #c9aee4;
}
a.linkColor9:visited {
  color: #a374d1;
}
.containerColor9 {
  background-color: #bf9fdf !important;
}
.buttonColor9 {
  color: #301848 !important;
  background-color: #cfb7e7;
}
.buttonColor9:hover {
  background-color: #60308f;
  color: #f5f1fa !important;
}
.inputColor9 {
  border-color: #cfb7e7 !important;
  color: #e2d4f1;
}
.bodyColor10 {
  color: #f7e7f7 !important;
}
.borderColor10 {
  border-color: #1d0a1d !important;
}
a.linkColor10 {
  color: #e4aee4;
}
a.linkColor10:visited {
  color: #d174d1;
}
.containerColor10 {
  background-color: #df9fdf !important;
}
.buttonColor10 {
  color: #481848 !important;
  background-color: #e7b7e7;
}
.buttonColor10:hover {
  background-color: #8f308f;
  color: #faf1fa !important;
}
.inputColor10 {
  border-color: #e7b7e7 !important;
  color: #f1d4f1;
}
.bodyColor11 {
  color: #f7e7ef !important;
}
.borderColor11 {
  border-color: #1d0a13 !important;
}
a.linkColor11 {
  color: #e4aec9;
}
a.linkColor11:visited {
  color: #d174a3;
}
.containerColor11 {
  background-color: #df9fbf !important;
}
.buttonColor11 {
  color: #481830 !important;
  background-color: #e7b7cf;
}
.buttonColor11:hover {
  background-color: #8f3060;
  color: #faf1f5 !important;
}
.inputColor11 {
  border-color: #e7b7cf !important;
  color: #f1d4e2;
}
