mainColor = randomColor()

opacity(value)
  opacity: value
  -moz-opacity: value
  filter: unquote('alpha(opacity=' + round(value * 100) + ')')

border-radius(value)
  border-radius: value
  -moz-border-radius: value

.container
  position: relative

.translucentFrame
  background: mainColor
  opacity: .07
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  border-radius: 5px

.contentFrame
  position: relative
  z-index: 2

body
  background: darken(mainColor, 98%)
  color: mainColor
  font-size: 15px
  font-family: Consolas

#frame
  position: relative
  margin: 15px auto auto auto
  width: 90%

.backgroundImage
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: fixed
  z-index: 0
  opacity: .1

#banner
  text-align: center
  font-size: 55px
  padding: 15px
  font-family: Courier New
  border-bottom: solid 1px darken(mainColor, 50%)

#navigation
  margin: 0
  padding: 15px
  li
    display: inline
    margin-right: 15px

#content
  padding: 15px

a, a:visited
  color: lighten(mainColor, 75%)
  text-decoration: none
  $:hover
    text-decoration: underline

.postSummary
  padding: 10px
  margin-bottom: 15px

.pageControls
  margin-bottom: 15px