.container {
  position: relative;
}
.translucentFrame {
  background: #3df53d;
  opacity: 0.25;
  -moz-opacity: 0.25;
  filter: alpha(opacity=25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.contentFrame {
  position: relative;
  z-index: 2;
}
body {
  background: #000;
  color: #a8faa8;
  font-size: 15px;
  font-family: Consolas;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -moz-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}
#frame {
  position: relative;
  margin: 15px auto auto auto;
  width: 900px;
}
.backgroundImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  opacity: 0.075;
  -moz-opacity: 0.075;
  filter: alpha(opacity=8);
}
.profilePicture {
  width: 50px;
  margin-left: 10px;
  float: right;
}
#banner {
  text-align: center;
  font-size: 55px;
  padding: 15px;
  font-family: Courier New;
  border-bottom: solid 1px #056605;
  -webkit-transition: border-color 0.3s linear;
  -moz-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
#navigation {
  margin: 0;
  padding: 15px;
}
#navigation li {
  display: inline;
  margin-right: 15px;
}
#content {
  clear: both;
  padding: 15px;
}
a,
a:visited {
  color: #e2fde2;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:hover {
  text-decoration: underline;
}
.postSummary {
  padding: 10px;
  margin-bottom: 15px;
}
.pageControls {
  margin-bottom: 15px;
}
.right {
  float: right;
  text-align: right;
}
a.button {
  padding: 5px;
  color: #044904 !important;
  background-color: #6ef76e;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
a.button:hover {
  background-color: #089108;
  color: #e2fde2 !important;
  text-decoration: none;
}
.bodyColor0 {
  color: #e2ffc6 !important;
}
.borderColor0 {
  border-color: #438600 !important;
}
.linkColor0,
.linkColor0:visited {
  color: #f5ffec !important;
}
.containerColor0 {
  background-color: #bfff80 !important;
}
a.buttonColor0 {
  color: #306000 !important;
  background-color: #cfff9f;
}
a.buttonColor0:hover {
  background-color: #60bf00;
  color: #f5ffec !important;
}
.bodyColor1 {
  color: #d4ffc6 !important;
}
.borderColor1 {
  border-color: #218600 !important;
}
.linkColor1,
.linkColor1:visited {
  color: #f1ffec !important;
}
.containerColor1 {
  background-color: #9fff80 !important;
}
a.buttonColor1 {
  color: #186000 !important;
  background-color: #b7ff9f;
}
a.buttonColor1:hover {
  background-color: #30bf00;
  color: #f1ffec !important;
}
.bodyColor2 {
  color: #c6ffc6 !important;
}
.borderColor2 {
  border-color: #008600 !important;
}
.linkColor2,
.linkColor2:visited {
  color: #ecffec !important;
}
.containerColor2 {
  background-color: #80ff80 !important;
}
a.buttonColor2 {
  color: #006000 !important;
  background-color: #9fff9f;
}
a.buttonColor2:hover {
  background-color: #00bf00;
  color: #ecffec !important;
}
.bodyColor3 {
  color: #c6ffd4 !important;
}
.borderColor3 {
  border-color: #008621 !important;
}
.linkColor3,
.linkColor3:visited {
  color: #ecfff1 !important;
}
.containerColor3 {
  background-color: #80ff9f !important;
}
a.buttonColor3 {
  color: #006018 !important;
  background-color: #9fffb7;
}
a.buttonColor3:hover {
  background-color: #00bf30;
  color: #ecfff1 !important;
}
.bodyColor4 {
  color: #c6ffe2 !important;
}
.borderColor4 {
  border-color: #008643 !important;
}
.linkColor4,
.linkColor4:visited {
  color: #ecfff5 !important;
}
.containerColor4 {
  background-color: #80ffbf !important;
}
a.buttonColor4 {
  color: #006030 !important;
  background-color: #9fffcf;
}
a.buttonColor4:hover {
  background-color: #00bf60;
  color: #ecfff5 !important;
}
.bodyColor5 {
  color: #c6fff1 !important;
}
.borderColor5 {
  border-color: #008664 !important;
}
.linkColor5,
.linkColor5:visited {
  color: #ecfffa !important;
}
.containerColor5 {
  background-color: #80ffdf !important;
}
a.buttonColor5 {
  color: #006048 !important;
  background-color: #9fffe7;
}
a.buttonColor5:hover {
  background-color: #00bf8f;
  color: #ecfffa !important;
}
.bodyColor6 {
  color: #c6ffff !important;
}
.borderColor6 {
  border-color: #008686 !important;
}
.linkColor6,
.linkColor6:visited {
  color: #ecffff !important;
}
.containerColor6 {
  background-color: #80ffff !important;
}
a.buttonColor6 {
  color: #006060 !important;
  background-color: #9fffff;
}
a.buttonColor6:hover {
  background-color: #00bfbf;
  color: #ecffff !important;
}
.bodyColor7 {
  color: #c6f1ff !important;
}
.borderColor7 {
  border-color: #006486 !important;
}
.linkColor7,
.linkColor7:visited {
  color: #ecfaff !important;
}
.containerColor7 {
  background-color: #80dfff !important;
}
a.buttonColor7 {
  color: #004860 !important;
  background-color: #9fe7ff;
}
a.buttonColor7:hover {
  background-color: #008fbf;
  color: #ecfaff !important;
}
.bodyColor8 {
  color: #c6e2ff !important;
}
.borderColor8 {
  border-color: #004386 !important;
}
.linkColor8,
.linkColor8:visited {
  color: #ecf5ff !important;
}
.containerColor8 {
  background-color: #80bfff !important;
}
a.buttonColor8 {
  color: #003060 !important;
  background-color: #9fcfff;
}
a.buttonColor8:hover {
  background-color: #0060bf;
  color: #ecf5ff !important;
}
.bodyColor9 {
  color: #c6d4ff !important;
}
.borderColor9 {
  border-color: #002186 !important;
}
.linkColor9,
.linkColor9:visited {
  color: #ecf1ff !important;
}
.containerColor9 {
  background-color: #809fff !important;
}
a.buttonColor9 {
  color: #001860 !important;
  background-color: #9fb7ff;
}
a.buttonColor9:hover {
  background-color: #0030bf;
  color: #ecf1ff !important;
}
.bodyColor10 {
  color: #c6c6ff !important;
}
.borderColor10 {
  border-color: #000086 !important;
}
.linkColor10,
.linkColor10:visited {
  color: #ececff !important;
}
.containerColor10 {
  background-color: #8080ff !important;
}
a.buttonColor10 {
  color: #000060 !important;
  background-color: #9f9fff;
}
a.buttonColor10:hover {
  background-color: #0000bf;
  color: #ececff !important;
}
.bodyColor11 {
  color: #d4c6ff !important;
}
.borderColor11 {
  border-color: #210086 !important;
}
.linkColor11,
.linkColor11:visited {
  color: #f1ecff !important;
}
.containerColor11 {
  background-color: #9f80ff !important;
}
a.buttonColor11 {
  color: #180060 !important;
  background-color: #b79fff;
}
a.buttonColor11:hover {
  background-color: #3000bf;
  color: #f1ecff !important;
}
.bodyColor12 {
  color: #e2c6ff !important;
}
.borderColor12 {
  border-color: #430086 !important;
}
.linkColor12,
.linkColor12:visited {
  color: #f5ecff !important;
}
.containerColor12 {
  background-color: #bf80ff !important;
}
a.buttonColor12 {
  color: #300060 !important;
  background-color: #cf9fff;
}
a.buttonColor12:hover {
  background-color: #6000bf;
  color: #f5ecff !important;
}
.bodyColor13 {
  color: #f1c6ff !important;
}
.borderColor13 {
  border-color: #640086 !important;
}
.linkColor13,
.linkColor13:visited {
  color: #faecff !important;
}
.containerColor13 {
  background-color: #df80ff !important;
}
a.buttonColor13 {
  color: #480060 !important;
  background-color: #e79fff;
}
a.buttonColor13:hover {
  background-color: #8f00bf;
  color: #faecff !important;
}
.bodyColor14 {
  color: #ffc6ff !important;
}
.borderColor14 {
  border-color: #860086 !important;
}
.linkColor14,
.linkColor14:visited {
  color: #ffecff !important;
}
.containerColor14 {
  background-color: #ff80ff !important;
}
a.buttonColor14 {
  color: #600060 !important;
  background-color: #ff9fff;
}
a.buttonColor14:hover {
  background-color: #bf00bf;
  color: #ffecff !important;
}
.bodyColor15 {
  color: #ffc6f1 !important;
}
.borderColor15 {
  border-color: #860064 !important;
}
.linkColor15,
.linkColor15:visited {
  color: #ffecfa !important;
}
.containerColor15 {
  background-color: #ff80df !important;
}
a.buttonColor15 {
  color: #600048 !important;
  background-color: #ff9fe7;
}
a.buttonColor15:hover {
  background-color: #bf008f;
  color: #ffecfa !important;
}
.bodyColor16 {
  color: #ffc6e2 !important;
}
.borderColor16 {
  border-color: #860043 !important;
}
.linkColor16,
.linkColor16:visited {
  color: #ffecf5 !important;
}
.containerColor16 {
  background-color: #ff80bf !important;
}
a.buttonColor16 {
  color: #600030 !important;
  background-color: #ff9fcf;
}
a.buttonColor16:hover {
  background-color: #bf0060;
  color: #ffecf5 !important;
}
.bodyColor17 {
  color: #ffc6c6 !important;
}
.borderColor17 {
  border-color: #860000 !important;
}
.linkColor17,
.linkColor17:visited {
  color: #ffecec !important;
}
.containerColor17 {
  background-color: #ff8080 !important;
}
a.buttonColor17 {
  color: #600000 !important;
  background-color: #ff9f9f;
}
a.buttonColor17:hover {
  background-color: #bf0000;
  color: #ffecec !important;
}
.bodyColor18 {
  color: #ffd4c6 !important;
}
.borderColor18 {
  border-color: #862100 !important;
}
.linkColor18,
.linkColor18:visited {
  color: #fff1ec !important;
}
.containerColor18 {
  background-color: #ff9f80 !important;
}
a.buttonColor18 {
  color: #601800 !important;
  background-color: #ffb79f;
}
a.buttonColor18:hover {
  background-color: #bf3000;
  color: #fff1ec !important;
}
.bodyColor19 {
  color: #ffe2c6 !important;
}
.borderColor19 {
  border-color: #864300 !important;
}
.linkColor19,
.linkColor19:visited {
  color: #fff5ec !important;
}
.containerColor19 {
  background-color: #ffbf80 !important;
}
a.buttonColor19 {
  color: #603000 !important;
  background-color: #ffcf9f;
}
a.buttonColor19:hover {
  background-color: #bf6000;
  color: #fff5ec !important;
}
.bodyColor20 {
  color: #fff1c6 !important;
}
.borderColor20 {
  border-color: #866400 !important;
}
.linkColor20,
.linkColor20:visited {
  color: #fffaec !important;
}
.containerColor20 {
  background-color: #ffdf80 !important;
}
a.buttonColor20 {
  color: #604800 !important;
  background-color: #ffe79f;
}
a.buttonColor20:hover {
  background-color: #bf8f00;
  color: #fffaec !important;
}
.bodyColor21 {
  color: #ffffc6 !important;
}
.borderColor21 {
  border-color: #868600 !important;
}
.linkColor21,
.linkColor21:visited {
  color: #ffffec !important;
}
.containerColor21 {
  background-color: #ffff80 !important;
}
a.buttonColor21 {
  color: #606000 !important;
  background-color: #ffff9f;
}
a.buttonColor21:hover {
  background-color: #bfbf00;
  color: #ffffec !important;
}
.bodyColor22 {
  color: #f1ffc6 !important;
}
.borderColor22 {
  border-color: #648600 !important;
}
.linkColor22,
.linkColor22:visited {
  color: #faffec !important;
}
.containerColor22 {
  background-color: #dfff80 !important;
}
a.buttonColor22 {
  color: #486000 !important;
  background-color: #e7ff9f;
}
a.buttonColor22:hover {
  background-color: #8fbf00;
  color: #faffec !important;
}
