.container {
  position: relative;
}
.translucentFrame {
  background: #8fef8f;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter: alpha(opacity=20);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background-color 15s linear;
  -moz-transition: background-color 15s linear;
  -o-transition: background-color 15s linear;
  transition: background-color 15s linear;
}
.contentFrame {
  position: relative;
  z-index: 2;
  overflow-x: auto;
}
.contentFrame img {
  max-width: 100%;
  display: block;
}
body {
  background: #010701;
  color: #cdf8cd;
  font-size: 15px;
  font-family: Consolas;
  -webkit-transition: color 15s linear, background-color 15s linear;
  -moz-transition: color 15s linear, background-color 15s linear;
  -o-transition: color 15s linear, background-color 15s linear;
  transition: color 15s linear, background-color 15s linear;
}
#frame {
  position: relative;
  margin: 15px auto auto auto;
  width: 900px;
}
.backgroundImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  opacity: 0.075;
  -moz-opacity: 0.075;
  filter: alpha(opacity=8);
}
.profilePictureRight {
  width: 50px;
  margin-left: 10px;
  float: right;
}
.profilePictureLeft {
  width: 50px;
  margin-right: 10px;
  float: left;
}
#banner {
  text-align: center;
  font-size: 55px;
  padding: 15px;
  font-family: Courier New;
  border-bottom: solid 1px #052105;
  -webkit-transition: border-color 15s linear;
  -moz-transition: border-color 15s linear;
  -o-transition: border-color 15s linear;
  transition: border-color 15s linear;
}
#navigation {
  margin: 0;
  padding: 15px;
}
#navigation li {
  display: inline;
}
#navigation li.nav {
  margin-right: 35px;
}
#content {
  clear: both;
  padding: 15px;
  overflow-x: auto;
}
pre {
  padding: 15px;
  background: #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  max-height: 500px;
  overflow: auto;
}
pre code {
  padding: 0;
  border-radius: 0;
  -moz-border-radius: 0;
}
code {
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
input,
textarea {
  background: transparent;
  border: dashed 1px #abf3ab;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  color: #cdf8cd;
  -webkit-transition: color 15s linear;
  -moz-transition: color 15s linear;
  -o-transition: color 15s linear;
  transition: color 15s linear;
}
hr {
  border: solid 1px #052105;
}
a,
a:visited {
  color: #a0f1a0;
  text-decoration: none;
  -webkit-transition: color 15s linear;
  -moz-transition: color 15s linear;
  -o-transition: color 15s linear;
  transition: color 15s linear;
}
a:hover {
  text-decoration: underline;
}
.postTitle {
  font-size: 20px;
}
.postDate,
.commentDate {
  font-style: italic;
  font-size: 13px;
}
.managePost {
  font-size: 13px;
}
.comment {
  padding: 15px;
}
.commentContainer {
  margin: 12.5px 0 12.5px;
}
.commentContent {
  padding-top: 5px;
  clear: both;
}
.postSummaryContent {
  padding: 15px;
}
.postSummary {
  margin-bottom: 15px;
}
.pageControls {
  clear: both;
  margin-bottom: 15px;
}
.pageControls .pageLink {
  margin-right: 10px;
}
.right {
  float: right;
  text-align: right;
}
.left {
  float: left;
  text-align: left;
}
.button {
  padding: 3px 5px 3px 5px;
  color: #0c540c !important;
  background-color: #abf3ab;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: background-color 15s linear;
  -moz-transition: background-color 15s linear;
  -o-transition: background-color 15s linear;
  transition: background-color 15s linear;
  cursor: pointer;
}
.button:hover {
  background-color: #18a718;
  color: #eefdee !important;
  text-decoration: none;
}
.preview {
  padding: 10px;
}
.auth {
  margin: 15px;
  display: inline-block;
}
.bodyColor0 {
  color: #f8cdcd !important;
  background-color: #070101 !important;
}
.borderColor0 {
  border-color: #210505 !important;
}
a.linkColor0,
a.linkColor0:visited {
  color: #f1a0a0;
}
.containerColor0 {
  background-color: #ef8f8f !important;
}
.buttonColor0 {
  color: #540c0c !important;
  background-color: #f3abab;
}
.buttonColor0:hover {
  background-color: #a71818;
  color: #fdeeee !important;
}
.inputColor0 {
  border-color: #f3abab !important;
  color: #f8cdcd;
}
.bodyColor1 {
  color: #f8e2cd !important;
  background-color: #070401 !important;
}
.borderColor1 {
  border-color: #211305 !important;
}
a.linkColor1,
a.linkColor1:visited {
  color: #f1c9a0;
}
.containerColor1 {
  background-color: #efbf8f !important;
}
.buttonColor1 {
  color: #54300c !important;
  background-color: #f3cfab;
}
.buttonColor1:hover {
  background-color: #a76018;
  color: #fdf5ee !important;
}
.inputColor1 {
  border-color: #f3cfab !important;
  color: #f8e2cd;
}
.bodyColor2 {
  color: #f8f8cd !important;
  background-color: #070701 !important;
}
.borderColor2 {
  border-color: #212105 !important;
}
a.linkColor2,
a.linkColor2:visited {
  color: #f1f1a0;
}
.containerColor2 {
  background-color: #efef8f !important;
}
.buttonColor2 {
  color: #54540c !important;
  background-color: #f3f3ab;
}
.buttonColor2:hover {
  background-color: #a7a718;
  color: #fdfdee !important;
}
.inputColor2 {
  border-color: #f3f3ab !important;
  color: #f8f8cd;
}
.bodyColor3 {
  color: #e2f8cd !important;
  background-color: #040701 !important;
}
.borderColor3 {
  border-color: #132105 !important;
}
a.linkColor3,
a.linkColor3:visited {
  color: #c9f1a0;
}
.containerColor3 {
  background-color: #bfef8f !important;
}
.buttonColor3 {
  color: #30540c !important;
  background-color: #cff3ab;
}
.buttonColor3:hover {
  background-color: #60a718;
  color: #f5fdee !important;
}
.inputColor3 {
  border-color: #cff3ab !important;
  color: #e2f8cd;
}
.bodyColor4 {
  color: #cdf8cd !important;
  background-color: #010701 !important;
}
.borderColor4 {
  border-color: #052105 !important;
}
a.linkColor4,
a.linkColor4:visited {
  color: #a0f1a0;
}
.containerColor4 {
  background-color: #8fef8f !important;
}
.buttonColor4 {
  color: #0c540c !important;
  background-color: #abf3ab;
}
.buttonColor4:hover {
  background-color: #18a718;
  color: #eefdee !important;
}
.inputColor4 {
  border-color: #abf3ab !important;
  color: #cdf8cd;
}
.bodyColor5 {
  color: #cdf8e2 !important;
  background-color: #010704 !important;
}
.borderColor5 {
  border-color: #052113 !important;
}
a.linkColor5,
a.linkColor5:visited {
  color: #a0f1c9;
}
.containerColor5 {
  background-color: #8fefbf !important;
}
.buttonColor5 {
  color: #0c5430 !important;
  background-color: #abf3cf;
}
.buttonColor5:hover {
  background-color: #18a760;
  color: #eefdf5 !important;
}
.inputColor5 {
  border-color: #abf3cf !important;
  color: #cdf8e2;
}
.bodyColor6 {
  color: #cdf8f8 !important;
  background-color: #010707 !important;
}
.borderColor6 {
  border-color: #052121 !important;
}
a.linkColor6,
a.linkColor6:visited {
  color: #a0f1f1;
}
.containerColor6 {
  background-color: #8fefef !important;
}
.buttonColor6 {
  color: #0c5454 !important;
  background-color: #abf3f3;
}
.buttonColor6:hover {
  background-color: #18a7a7;
  color: #eefdfd !important;
}
.inputColor6 {
  border-color: #abf3f3 !important;
  color: #cdf8f8;
}
.bodyColor7 {
  color: #cde2f8 !important;
  background-color: #010407 !important;
}
.borderColor7 {
  border-color: #051321 !important;
}
a.linkColor7,
a.linkColor7:visited {
  color: #a0c9f1;
}
.containerColor7 {
  background-color: #8fbfef !important;
}
.buttonColor7 {
  color: #0c3054 !important;
  background-color: #abcff3;
}
.buttonColor7:hover {
  background-color: #1860a7;
  color: #eef5fd !important;
}
.inputColor7 {
  border-color: #abcff3 !important;
  color: #cde2f8;
}
.bodyColor8 {
  color: #cdcdf8 !important;
  background-color: #010107 !important;
}
.borderColor8 {
  border-color: #050521 !important;
}
a.linkColor8,
a.linkColor8:visited {
  color: #a0a0f1;
}
.containerColor8 {
  background-color: #8f8fef !important;
}
.buttonColor8 {
  color: #0c0c54 !important;
  background-color: #ababf3;
}
.buttonColor8:hover {
  background-color: #1818a7;
  color: #eeeefd !important;
}
.inputColor8 {
  border-color: #ababf3 !important;
  color: #cdcdf8;
}
.bodyColor9 {
  color: #e2cdf8 !important;
  background-color: #040107 !important;
}
.borderColor9 {
  border-color: #130521 !important;
}
a.linkColor9,
a.linkColor9:visited {
  color: #c9a0f1;
}
.containerColor9 {
  background-color: #bf8fef !important;
}
.buttonColor9 {
  color: #300c54 !important;
  background-color: #cfabf3;
}
.buttonColor9:hover {
  background-color: #6018a7;
  color: #f5eefd !important;
}
.inputColor9 {
  border-color: #cfabf3 !important;
  color: #e2cdf8;
}
.bodyColor10 {
  color: #f8cdf8 !important;
  background-color: #070107 !important;
}
.borderColor10 {
  border-color: #210521 !important;
}
a.linkColor10,
a.linkColor10:visited {
  color: #f1a0f1;
}
.containerColor10 {
  background-color: #ef8fef !important;
}
.buttonColor10 {
  color: #540c54 !important;
  background-color: #f3abf3;
}
.buttonColor10:hover {
  background-color: #a718a7;
  color: #fdeefd !important;
}
.inputColor10 {
  border-color: #f3abf3 !important;
  color: #f8cdf8;
}
.bodyColor11 {
  color: #f8cde2 !important;
  background-color: #070104 !important;
}
.borderColor11 {
  border-color: #210513 !important;
}
a.linkColor11,
a.linkColor11:visited {
  color: #f1a0c9;
}
.containerColor11 {
  background-color: #ef8fbf !important;
}
.buttonColor11 {
  color: #540c30 !important;
  background-color: #f3abcf;
}
.buttonColor11:hover {
  background-color: #a71860;
  color: #fdeef5 !important;
}
.inputColor11 {
  border-color: #f3abcf !important;
  color: #f8cde2;
}
