//include ../shared/container
div.blogPost
  div.postTitle= blogPost.title
  div.postDate Posted by {post.author.name} on #{moment(post.date).format('dddd MMMM DD, YYYY')}
  br
  div.postContent!= blogPost.content