form(action="/blog/post/save", method="POST")
  if (blogPost)
    input(name="postSlug", type="hidden", value=blogPost.slug)
  label(for="postTitle") Title
  br
  input(name="postTitle", type="text", style="width: 865px;", value= blogPost ? blogPost.title : null)
  br
  br
  label(for="postContent") Content
  br
  textarea(name="postContent", style="width: 865px; height: 400px;")= blogPost ? blogPost.content : null
  br
  br
  input(type="submit", value="Save")