form(action=blogPost ? 'update' : 'create', method="POST")
  label(for="postTitle") Title
  br
  input(name="postTitle", type="text", style="width: 850px;", value= blogPost ? blogPost.title : null)
  br
  br
  label(for="postContent") Content
  br
  textarea(name="postContent", style="width: 850px; height: 400px;")= blogPost ? blogPost.content : null
  br
  br
  input.button(type="submit", value=blogPost ? 'Update' : 'Create')